body, html {
    background-color: black;
    color: white;
    height: 100%;
    font-size: 18px
}
img {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a {
    color: lightblue;
}

li {
    margin-top: 1vh;
}

figure {
    float: right;
    width: 50vw;
    height: 50vh;
}
figure img {
    position: relative;
    height: 100%;
}
#card-figure {
    width: 20vw;
}
