body, html {
    background-color: black;
    color: white;
    height: 100%;
    font-size: 18px;
    overflow: hidden;
}
body {
    overflow-y: auto;
}
img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
a {
    color: lightblue;
}
section {
    overflow: hidden;
}
.buttons-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-container {
    margin-left: 2vw;
    border: 2px white solid;
    position: relative;
    width: 9vw;
    height: 15vh;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-img {
    height: 6.5vh;
    width: 3.5vw;
}
#introduction-button-img {
    height: 6.5vh;
    width: 2vw;
}

.button-container:hover {
    margin-top: -1vh;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8);
}
.button-container:hover #introduction-button-img {
    content: url('./img/lightbulbGLOW.svg');
}



















li {
    margin-top: 1vh;
}
figure {
    float: right;
    width: 50vw;
    height: 50vh;
}
figure img {
    position: relative;
    height: 100%;
}
#card-figure {
    width: 20vw;
}


.all-cards-card {
    height: 40vh;
    width: auto;
    border-radius: 15px;
}




